/* LIGHT */
:root {
    --text-color: grey;
    --bg-color: wheat;
    --border-color: black;
}

.dark {
    --text-color: white;
    --bg-color: black;
    --border-color: white;
    --p: 24px
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}