/* LIGHT */
:root {
    --text-color: grey;
    --bg-color: wheat;
}

/* DARK */
.dark {
    --text-color: white;
    --bg-color: black;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}